.header {
  display: flex;
  justify-content: space-between;

  -webkit-box-shadow: 0px -10px 50px -33px rgba(34, 60, 80, 0.6) inset;
  -moz-box-shadow: 0px -10px 50px -33px rgba(34, 60, 80, 0.6) inset;
  box-shadow: 0px -10px 50px -33px rgba(34, 60, 80, 0.6) inset;
}
