@import "styles/mixins";

.layout {
  height: 100vh;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}
.layout > * {
  padding: 16px 40px;

  @include media-tablet {
    padding: 16px 40px;
  }

  @include media-small-tablet {
    padding: 16px 36px;
  }

  @include media-phone {
    padding: 16px 24px;
  }
}

.main {
  flex-grow: 1;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 72px;

  @include media-tablet {
    padding: 40px;
  }

  @include media-small-tablet {
    padding: 36px;
  }

  @include media-phone {
    padding: 24px;
  }
}
