@import "mixins";

.home {
}

.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  @include media-large-desktop {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-desktop {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-small-tablet {
    grid-template-columns: repeat(1, 1fr);
  }

  @include media-phone {
    grid-template-columns: repeat(1, 1fr);
  }

  gap: 32px;
}

.controls {
  display: flex;

  gap: 32px;
}
